body{
	padding: 0;
	margin: 0;
}
div.transbox {
	margin: 30px;
	min-height: 10px;
	outline-style: dotted;
	background: rgba(255,255,90,.2);
	/*opacity: 0.5;*/

}
div.transbox p{
	font-weight: bold;
	color: purple;
	font-family: "Comic Sans MS";
	text-align: left;
	text-decoration: underline;
}
#inputy{
	text-align: center;
	margin-top: 200px;

}
button{
	cursor: pointer;
	padding: 5px 25px;
	background:#6b6dbb ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1.5em;
}
img{
	width: 100%;
	margin: 0;
	position: fixed;
	bottom:0px;
	z-index: -10; /* to jest do trzeciego wymiaru (kolejność elementów na wierzchu)*/
}